<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Error 404 找不到</title>
<style type="text/css">
    body{font-family:Arial,Helvetica,sans-serif}
    .wrap{margin:0 auto;width:750pt}
    .logo{position:absolute;top:25%;left:35%;width:430px}
    p a{margin-left:30px;padding:5px;border-radius:.3em;background:#f36;color:#eee;text-decoration:none;font-size:13px}
    p a:hover{color:#fff}
    .footer{position:absolute;right:10px;bottom:10px;color:#aaa;font-size:9pt}
    .footer a{color:#666;text-decoration:none}
</style>
</head>
<body>
<div class="wrap">
    <div class="logo">
        <img src="/static/img/404.png" />
        <p><a href="/">Go back to Home</a></p>
    </div>
</div>
<div class="footer">
</div>
</body>
</html>